Nama : Hana Intan Wahyu Wijayanti\
NIM : 200601110025\
Mata Kuliah : PPK-F

#PANDAS
Pandas adalah sebuah librari berlisensi BSD dan open source yang menyediakan struktur data dan analisis data yang mudah digunakan dan berkinerja tinggi untuk bahasa pemrograma phyton

In [13]:
# Mengimpor Pandas
import pandas as pd

###Import.txt
Menyiapkan file txt (dengan jarak antar data misal menggunakan tab) di folder yang sama dengan program.\
Menggunakan perintah:\
pd.read_csv("data.txt") atau pd.read_csv("data.txt"), delimiter="\t"

In [ ]:
# Contoh
data1=pd.read_csv("data.txt")
print(data1)

   A\tB
0  1\t2
1  4\t3
2  4\t2

In [ ]:
data2=pd.read_csv("data.txt", delimiter="\t")
print(data2)

   A  B
0  1  2
1  4  3
2  4  2

###Import.csv
Menyiapkan file csv di folder yang sama dengan program.\
Menggunakan perintah:\
pd.read_csv("data.txt") atau pd.read_csv("data.txt", delimiter="\s+").

In [ ]:
# Contoh
data3=pd.read_csv("data.txt")
print(data3)

   A\tB
0  1\t2
1  4\t3
2  4\t2

In [ ]:
data4=pd.read_csv("data.txt", delimiter="\s+")
print(data4)

   A  B
0  1  2
1  4  3
2  4  2

###Import.xlsx
Menyiapkan file xlsx di folder yang sama dengan program.\
Menggunakan perintah:\
pd.read_excel('data.xlsx')

In [ ]:
#Contoh
data5=pd.read_excel('data.xlsx')
print(data5)

   A  B
0  1  2
1  4  3
2  4  2

###Import.xls
Menyiapkan file xls di folder yang sama dengan profram.\
Menggunakan perintah:\
pd.read_excel('data.xls')

### Melihat Tabel
Contoh menggunakan data 2\
Untuk Semua: data2\
untuk Sebagian: data2.head()

### Membuat Dataframe Sendiri

In [4]:
#Contoh
data = [['Purwanto',32],['Purnomo',43],['Purwo',55]]
df2 = pd.DataFrame(data,columns=['Nama','Usia'])
print(df2)

       Nama  Usia
0  Purwanto    32
1   Purnomo    43
2     Purwo    55

### Memanggil data tertentu pada dataframe

In [6]:
#Contoh
df2["Nama"]

0    Purwanto
1     Purnomo
2       Purwo
Name: Nama, dtype: object

In [7]:
df2["Nama"][0]

'Purwanto'

In [8]:
df2.loc[:,'Nama']

0    Purwanto
1     Purnomo
2       Purwo
Name: Nama, dtype: object

### Set Index

In [9]:
df3 = pd.DataFrame([['Purwanto',32],['Purnomo',43],['Purwo',55]],columns=['Nama','Usia'])
df3

       Nama  Usia
0  Purwanto    32
1   Purnomo    43
2     Purwo    55

In [10]:
df3.set_index("Nama")

          Usia
Nama
Purwanto    32
Purnomo     43
Purwo       55

### Pemanggil Baris

In [27]:
df4 = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), index= [2, 'A', 4], columns=[48, 49, 50])
df4

   48  49  50
2   1   2   3
A   4   5   6
4   7   8   9

### Menambah Kolom

In [15]:
df5 = pd.DataFrame([['Purwanto',32],['Purnomo',43],['Purwo',55]],columns=['Nama','Usia'])
df5["Index"]=df5.index
df5

       Nama  Usia  Index
0  Purwanto    32      0
1   Purnomo    43      1
2     Purwo    55      2

In [16]:
df5.loc[:, "Gender"] = pd.Series(['L','L','L'])
df5

       Nama  Usia  Index Gender
0  Purwanto    32      0      L
1   Purnomo    43      1      L
2     Purwo    55      2      L

### Melihat Ukuran Dataframe

In [17]:
#ukuran baris paling panjang
len(df2)

3

In [18]:
#ukuran baris pada kolom tertentu
len(df2["Nama"])

3

In [19]:
#ukuran baris, ukuran kolom dataframe
print(df2.shape)

(3, 2)

### Menghapus

In [20]:
df6 = pd.DataFrame([['Purwanto',32],['Purnomo',43],['Purwo',55]],columns=['Nama','Usia'])
df6

       Nama  Usia
0  Purwanto    32
1   Purnomo    43
2     Purwo    55

In [21]:
#menghapus kolom
del df6['Nama']
df6

   Usia
0    32
1    43
2    55

In [22]:
#Menghapus n baris di awal
df6=df6[2:]
df6

   Usia
2    55

In [24]:
df6 = pd.DataFrame([['Purwanto',32],['Purnomo',43],['Purwo',55]],columns=['Nama','Usia'])
df6

       Nama  Usia
0  Purwanto    32
1   Purnomo    43
2     Purwo    55

In [25]:
#Menghapus baris tertentu
df6=df6.drop(df6.index[[0,2]])
df6

      Nama  Usia
1  Purnomo    43

### Ekspor Dataframe

In [26]:
#import pandas dan numpy
import pandas as pd
import numpy as np
#Misal kita punya suatu dataframe
data = [[1,32],[2,43],[4,55]]
df = pd.DataFrame(data,columns=['Nama','Usia'])
#Convert ke numpy array
databaru = df.to_numpy()
print(databaru)
#Convert ke txt
df.to_csv("dataexport.txt")
#Convert ke csv
df.to_csv("dataexport.csv")
#Convert ke xlsx
writer = pd.ExcelWriter('dataexport.xlsx')
df.to_excel(writer, 'DataFrame')
writer.save()

[[ 1 32]
 [ 2 43]
 [ 4 55]]